body {
  margin: 0;
  color: #303030;
  background-color: #F0F0F0;
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/grey.jpg");
}

.container {
  margin: 0 auto;
}

.name {
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
  line-height: 1em;
  text-shadow: 2px 2px #FFFFFF;
}

.subtitle {
  margin: 1.5rem 0;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.13rem;
  line-height: 1.5rem;
  color: #5ea5d1;
  text-shadow: 1px 1px #FFFFFF;
  text-align: center;

}

.contact {
  margin: 0 0 2rem 0;
  font-family: 'Slabo 27px', serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  text-shadow: 1px 1px #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#github {
  width: 48px;
}
#linkedin {
  width: 48px;
}
#mail {
  width: 41px;
}

.contact a {
  text-decoration: none;
}

.contact a:hover {
  opacity: 0.5;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.cursor {
  font-weight: 100;
  font-size: 3.2rem;
  line-height: 1em;
  position: relative;
  color: #202020;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
