body {
  margin: 0;
  color: #303030;
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F0F0F0 url("img/grey.jpg");
}

.container {
  margin: 0 auto;
}

.name {
  font-family: 'Slabo 27px', serif;
  font-size: 3em;
  line-height: 1em;
  text-shadow: 2px 2px #FFFFFF;
}

.subtitle {
  margin: 24px 0 30px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.2rem;
  color: #3f7dd4;
  text-shadow: 1px 1px #FFFFFF;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact {
  margin: 0 0 2rem 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  text-shadow: 1px 1px #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact a {
  color: #303030;
  text-decoration: none;
}

.contact a:hover {
  opacity: 0.7;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.cursor {
  font-weight: 100;
  font-size: 3.2rem;
  line-height: 1em;
  position: relative;
  /*text-shadow: 2px 2px #FFFFFF;*/
  color: #202020;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: black;
    text-shadow: 2px 2px #FFFFFF;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: black;
    text-shadow: 2px 2px #FFFFFF;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: black;
    text-shadow: 2px 2px #FFFFFF;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: black;
    text-shadow: 2px 2px #FFFFFF;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: black;
    text-shadow: 2px 2px #FFFFFF;
  }
}
